In [2]:
str1 = 'hai how are you'
l1 = str1.split()
l1                # Splitting str to list

['hai', 'how', 'are', 'you']

In [6]:
# Now we have list of elements and now we have to join
str2 = ' '.join(l1)
str2

'hai how are you'

In [8]:
for i in l1:
    print(i,end=' ')

hai how are you

In [13]:
str3 = ''
for i in l1:
    str3 = str3+' '+i
str3.strip()

'hai how are you'

In [20]:
name = ['Ramesh','Suresh','Sathish']
age = [20,25,30]

for i in range(len(name)):
    print(name[i],age[i])

Ramesh 20
Suresh 25
Sathish 30

$Zip$

In [21]:
for i in zip(name,age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('Sathish', 30)

In [22]:
for i,j in zip(name,age):
    print(f'{i} age is {j}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [26]:
def avg(n1,n2,n3):
    return n1+n2+n3 , n1+n2+n3/3
output1,output2 = avg(10,20,30)
print(output1)
print(output2)

60
40.0

In [28]:
num1,num2 = 10,20
num1

10

In [ ]:
name = ['Ramesh','Suresh','Sathish']
age = [20,25,30]

# Instead of two lists we can use dictionary; dir = {<key>:<value>}

In [30]:
dir1 = {'Ramesh':20,'Suresh':25,'Sathish':30}
dir1
# key:value pair together

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [31]:
dir2 = {20:'ramesh',25:'suresh',30:'sathish'}
dir2

{20: 'ramesh', 25: 'suresh', 30: 'sathish'}

In [32]:
dir3 = {20:20}
dir3

{20: 20}

In [33]:
dir4 = {'names':['R','S','A']}
dir4
# List can be value

{'names': ['R', 'S', 'A']}

In [39]:
dir5 = {['R']:'names'}
dir5 

# List can not be a key but list can be value
# Special chr can not be a key and value

In [37]:
dir6 = {('R','A'):'names'}
dir6

{('R', 'A'): 'names'}

In [40]:
dir7 = {'name':('R','A')}
dir7

{'name': ('R', 'A')}

In [42]:
dir8 = {('n','a','m','e'):('R','A')}
dir8

{('n', 'a', 'm', 'e'): ('R', 'A')}

In [44]:
d = {'Fruits':'Apple'}
dir9 = {'Names':d}
dir9

{'Names': {'Fruits': 'Apple'}}

In [46]:
dir10 = {d:'Names'}
dir10
# dict can not be key

In [ ]:
############# Works #######################
d1 = {'Ramesh':20,'Suresh':25,'Sathish':30}
d2 = {20:'ramesh',25:'suresh',30:'sathish'}
d3 = {20:20}
d4 = {'$':'30'}
d5 = {'name':['I','N','D']}
d6 = {'name':('I','N','D')}
d7 = {('I','N','D'):'names'}
d8 = {'Names':{'Fruites':20}}
d9 = {True:True}

In [47]:
dic1 = {'Ramesh':20,'Ramesh':25}
dic1          # Duplicate keys are not allowed

{'Ramesh': 25}

In [48]:
dic2 = {'Ramesh':20,'Suresh':20}
dic2          # Duplicate values are allowed

{'Ramesh': 20, 'Suresh': 20}

##### Max,Min,Sum,Len

In [56]:
d1 = {'Ramesh':20,'Suresh':25,'Sathish':30}
max(d1),min(d1),len(d1),#sum is not applicable
# Comparision is done by using keys(ascii)

('Suresh', 'Ramesh', 3)

In [58]:
d2 = {20:'ramesh',25:'suresh',30:'sathish'}
max(d2),min(d2),len(d2),sum(d2)

(30, 20, 3, 75)

In [64]:
d3 = {'names':['ramesh','suresh','sathish'],'age':[20,25,30]}
max(d3),min(d3),len(d3),# sum is not applicable since they are strings

('names', 'age', 2)

In [67]:
d4 = {'names':('ramesh','suresh','sathish'),'age':(20,25,30)}
max(d4),min(d4),len(d4),# sum(d4)

('names', 'age', 2)

In [71]:
d5 = {('names'):('ramesh','suresh','sathish'),('age'):{20,25,30}}
max(d5),min(d5),len(d5), # sum(d5)

('names', 'age', 2)

##### Concatenation

In [13]:
d1 = {'Names':20,}
d12 = {'Age':30}
d1+d12             # + operation is not supported for dict and dict

##### In

In [5]:
d2 = {'Ramesh':20,'Suresh':25,'Sathish':30}
if 'Ramesh' in d2:
    print(True)          # True statement (Keys are valid)

True

In [6]:
if 20 in d2:
    print(True)         # False statement (Values are not valid)

##### Index

In [10]:
d2 = {'Ramesh':20,'Suresh':25,'Sathish':30}
for i in d2:
    print(i,':',d2[i])

Ramesh : 20
Suresh : 25
Sathish : 30

In [11]:
d2['Ramesh']

20

$Zipping$

In [15]:
names = ['Ramesh','Suresh','Sathish']
age = [20,25,30]
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Sathish 30

$Same-output-of-zipping-using-dict$

In [16]:
d3 = {'Ramesh':20,'Suresh':25,'Sathish':30}
for i in d3:
    print(i,d3[i])   # keys(i), values(d3[i])

Ramesh 20
Suresh 25
Sathish 30

In [26]:
d1,l1,s1 = {},[],''

l1.append(10)
l1.append('Hello')

s1 = s1+'a'
s1 = s1+'b'
s1 = s1+'c'

d1['Even'] = 20
d1['Odd'] = [21,23,25]

print(d1)
print(l1)
print(s1)

{'Even': 20, 'Odd': [21, 23, 25]}
[10, 'Hello']
abc

In [27]:
d1 = {}
name = input('Enter the name:')
city = input('Enter the city:')
age  = eval(input('Enter your age:'))

d1['Name'] = name
d1['City'] = city
d1['Age']  = age

print(d1)

Enter the name:Gnana Teja
Enter the city:Nizampet
Enter your age:21
{'Name': 'Gnana Teja', 'City': 'Nizampet', 'Age': 21}

- Problem

In [37]:
import random
even_list,odd_list = [],[]
dic1 = {}
for i in range(10):
    num=random.randint(1,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
dic1['Even']=even_list
dic1['Odd']=odd_list
print(dic1)

{'Even': [46, 82, 72, 38, 10], 'Odd': [47, 71, 41, 95, 93]}

- Word frequency

In [40]:
s1 = 'hello how how are you, hello how are you how hello'
l1 = s1.split()
l2=[]
for i in l1:
    if i not in l2:
        print(i,l1.count(i))
        l2.append(i)

hello 3
how 4
are 2
you, 1
you 1

In [42]:
s1 = 'hello how how are you, hello how are you how hello'
l1 = s1.split()
l2 = []
d1 = {}
for i in l1:
    if i not in l2:
        d1[i]=l1.count(i) #key(i), value(l.count(i))
        l2.append(i)
d1

{'hello': 3, 'how': 4, 'are': 2, 'you,': 1, 'you': 1}

In [51]:
d1 = {'Fruites':[{'Apple':50},{'Banana':[60,90,56,97]}]}
d1['Fruites'][1]['Banana'][1]

90

In [52]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- Keys
- Values
- Items

In [ ]:
# keys = only keys , values = only values , items = both

In [57]:
d1 = {'Fruites':[{'Apple':50},{'Banana':[60,90,56,97]}]}
d1.keys()

dict_keys(['Fruites'])

In [60]:
type(d1.keys())

dict_keys

In [67]:
list(d1.keys())

['Fruites']

In [68]:
list(d1.keys())[0].upper()

'FRUITES'

In [58]:
d1.values()

dict_values([[{'Apple': 50}, {'Banana': [60, 90, 56, 97]}]])

In [59]:
d1.items()

dict_items([('Fruites', [{'Apple': 50}, {'Banana': [60, 90, 56, 97]}])])

- Clear
- Copy
- Get
- pop
- popitem

In [70]:
d1.clear()
d1

{}

In [78]:
d1 = {'Ramesh':20,'Suresh':25,'Sathish':30}
d2 = d1.copy()
print(d2)
d2.clear()
d2

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

{}

In [81]:
d1.get('Ramesh'),d1.get('Suresh'),d1.get('Sathish')

(20, 25, 30)

In [87]:
print(d1)
d1.pop('Sathish')
# returns the value of the key and removes the specified key

{'Suresh': 25, 'Sathish': 30}

30

In [88]:
print(d1) # sathish key is removed

{'Suresh': 25}

In [89]:
d1 = {'Ramesh':20,'Suresh':25,'Sathish':30}
d1.popitem() # removes last key and value which will return in tuple.

('Sathish', 30)

In [92]:
d1.popitem()  # no arguments are taken

('Suresh', 25)

In [93]:
d1

{'Ramesh': 20}

- Fromkeys
- setdefault
- update

In [104]:
d1 = {'Ramesh':20,'Suresh':25,'Sathish':30}
d1.fromkeys('S',35)

{'S': 35}

In [1]:
d1 = {'Ramesh':20,'Suresh':25,'Sathish':30}
d1.setdefault('Rahul',35)
print(d1)
print(d1.popitem())
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Rahul': 35}
('Rahul', 35)

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [3]:
d1 = {'Ramesh':20}
d2 = {'Suresh':25}
d1.update(d2)
d2.update(d1)
print(d1)
print(d2)

{'Ramesh': 20, 'Suresh': 25}
{'Suresh': 25, 'Ramesh': 20}