- Lamda functions is also a kind of funtions representation
- More efficient

In [9]:
def mul(num):
    return(num*10,num+10)
mul(10)
# Func name is ===== mul
# Variable na,e ==== num
# return output ==== num*10

(100, 20)

**One argument**

In [ ]:
# Syntax:
        <Func_name> = lambda <var_name> : <return_output>

In [4]:
mul = lambda num : num*10
mul(15)

150

In [6]:
cube = lambda num : num*num*num
cube(10)

1000

**Two arguments**

In [ ]:
# Syntax:
        <Func_name> = lambda <var_name1>,<var_name2> : <return_output>

In [8]:
add = lambda n1,n2 : n1+n2
add(10,20)

30

In [10]:
avg = lambda n1,n2,n3 : (n1+n2+n3)/3
avg(10,20,30)

20.0

In [14]:
summ = lambda n1=10,n2=20 : n1+n2
summ()

30

In [15]:
sub = lambda n1,n2=200 : n1-n2
sub(400)

200

**If-else**

In [16]:
def Max(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
Max(25,50)

50

In [ ]:
# Syntax
    <Func_name> = lambda <v1,v2,v3,...>:<if_out> <if_cond> <else> <else_out>

In [18]:
Max = lambda n1,n2 : n1 if n1>n2 else n2
Max(10,20)

20

**List**

In [20]:
list1 = ['hyd','mumbai','chennai']
list2 = []
for i in list1:
    list2.append(i.capitalize())
list2

['Hyd', 'Mumbai', 'Chennai']

In [21]:
list2 = [i.capitalize() for i in list1]
list2

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
# Syntax
 <Func_name> = lambda <var> : <output> , <iterator>

In [22]:
list1 = ['hyd','mumbai','chennai']
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai'])

##### Map

In [23]:
list1 = ['hyd','mumbai','chennai']
# lambda i : i.capita

In [31]:
list2 = list(map(lambda i: i.capitalize(), list1))
list2

['Hyd', 'Mumbai', 'Chennai']

list2

In [25]:
print(list2)

['Hyd', 'Mumbai', 'Chennai']

In [30]:
l1=[1,2,3,4]
l2 = list(map(lambda i : i*i, l1))
print(l2)

[1, 4, 9, 16]

In [35]:
l1 = ['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
list(map(lambda i : '#' in i,l1))

[True, True, True, False, False]

##### Filter

In [34]:
l1 = ['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
list(filter(lambda i : '#' in i,l1))

['hyder#abad', 'Mum#bai', 'Chenn#ai']