- How to read

- How many ways we can represent

- type

- len

- max

- min

- sorted

- reversed

- concatenation

- in 

- index

- for loop iteration

- mutable-immutable

- slice

- Methods

In [ ]:
l1 = [1,2,3,4]
print(l1)
type(l1)

In [ ]:
l2 = ['A','B','C']
l2

In [ ]:
dir(list)

In [ ]:
l3 = [1,2,3,'a','b','c']
l3

In [ ]:
l4 = [10.25,True,20+30j]
l4

In [ ]:
l5 = [100,100,100]
l5             # list suppoorts duplicate values

In [ ]:
l6 = [1,2,3,['A','B','C']]
l6            # list in list will also works

In [ ]:
l7 = [_]
l7

- List is array of elements 
- That elements can be any datatype
- Heterogeneous
- List allows duplicates 
- List in list is possible
- List of underscore[_], is nothing but list in list

In [ ]:
print(len(l1))
print(max(l1))
print(min(l1))
print(sum(l1))

In [ ]:
len(l2),max(l2),min(l2) #sum is not possible

In [ ]:
len(l3) #max , min , sum not possible

In [ ]:
len(l4),sum(l4) #max , min are not possible

In [ ]:
len(l5),max(l5),min(l5),sum(l5)

In [ ]:
len(l6) # max,min,sum not possible

In [ ]:
len(l7),max(l7),min(l7)

In [ ]:
sorted(l1),  sorted(l1,reverse=True)

In [ ]:
sorted(l2),  sorted(l2,reverse=True)

In [ ]:
sorted(l3),  sorted(l3,reverse=True) # fails

In [ ]:
sorted(l4),  sorted(l4,reverse=True) # fails

In [ ]:
sorted(l5),  sorted(l5,reverse=True)

In [ ]:
sorted(l6),  sorted(l6,reverse=True) # fails

##### Reversed

In [ ]:
val = reversed(l1)
for i in val:
    print(i, end=' ')

In [ ]:
val1 = reversed(l2)
for i in val1:
    print(i,end=' ')

In [ ]:
val1 = reversed(l3)
for i in val1:
    print(i,end=' ')

In [ ]:
val1 = reversed(l4)
for i in val1:
    print(i,end=' ')

In [ ]:
val1 = reversed(l5)
for i in val1:
    print(i,end=' ')

In [ ]:
val1 = reversed(l6)
for i in val1:
    print(i,end=' ')

##### Concatenation

In [ ]:
l1+l2
l2+l1

In [ ]:
l1*3

In [ ]:
l1+l4

In [ ]:
l4+l6

In [ ]:
l3+l4

##### In operator

In [ ]:
l1 = [1,2,3,4]
for i in l1:
    print(i)

In [ ]:
for i in l6:
    print(i)

##### Indexing

In [ ]:
l2[0],l2[1],l2[2]

In [ ]:
l2[-3],l2[-2],l2[-1]

In [ ]:
for i in range(len(l2)):
    print(i,l2[i])

In [ ]:
for i in range(len(l2)):
    print(i-len(l2))

In [ ]:
for i in range(len(l4)):
    print(i,l4[i])

In [ ]:
l1 = ['Apple','Banana','Cherry']
n = len(l1)
for i in range(n):
    print(f'The positive index of {l1[i]} is {i}')

In [ ]:
l1 = ['Apple','Banana','Cherry']
n = len(l1)
for i in range(n):
    print(f'The negative index of {l1[i]} is {i-n}')

In [ ]:
l1 = ['Apple','Banana','Cherry']
n = len(l1)
for i in range(n):
    print(f'The positive index is {i} and negative index is {i-n} for {l1[i]}')

##### Mutable-Immutable

In [ ]:
l7 = [1,2,3]
l7[0] = 100
l7

- **Lists are mutable**
- **Strings are immutable**

##### Slice

In [ ]:
list1 = [1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana']
n = len(list1)
for i in range(n):
    print(f'The positive index is {i} for {list1[i]} and negative index is {i-n} for {list1[i]}')

In [ ]:
list1[3:14:2]

In [ ]:
list1[3:14:-2]

In [ ]:
list1[3:-14:2]

In [ ]:
list1[3:-14:-2]

In [ ]:
list1[-3:-14:-2]

In [ ]:
list1[-3:14:2]

In [ ]:
list1[::]

In [ ]:
list1[::-1]

In [ ]:
list1.index(2)

In [ ]:
l1 = []
l1.insert(0,5)
l1
l1.insert(1,10)
l1
l1.insert(0,6)
l1

In [ ]:
list1 = [1,2,3,['A','B']]
len(list1)

In [ ]:
val = list1[3]
val[1]       # Indirect way

In [ ]:
list1[3][1]  # Direct way

In [ ]:
list2 = [['Apple','Banana']]
print(list2[0][0])
print(list2[0][1])

In [ ]:
list3 = [['A','B',[1,20]]]
len(list3)
list3[0]
list3[0][2]
list3[0][2][1]

In [ ]:
list3 = ['hyd',['A','B',[1,20]]]
len(list3)
list3[1][2][1]

In [ ]:
list4 = [[[[[[['cherry',['apple']]]]]]]]
list4[0][0][0][0][0][0][1][0]

In [ ]:
l1 = ['Hyd','Mumbai','Bhopal','Chennai']
for i in l1:
    if len(i) > 5:
        print(i)

In [ ]:
l1 = ['hyd','mumbai','bhopal','chennai']
for i in l1:
    print(i.upper())

In [ ]:
l1 = ['hyd','mu#mbai','bh#opal','chennai']
for i in l1:
    if '#' not in i:
        print(i)

In [ ]:
str1 = 'hello my name is python'
new_str1 = str1.split()
max(new_str1,key=len),min(new_str1,key=len)

**Iterable**
- if you able to print char or elemnts using for loop
- list,string,tuple,dic are itearble

In [ ]:
qns = ['Who is PM of india?',
       'what is the capital of india?',
       'No.of states in india?',
       'Who is the captain of ICT?']

ans = ['Modi','Delhi',29,'Rohith sharma']
count = 0
for i in range(len(qns)):
    print('Question:',qns[i])
    user_ans = input('Enter the answer:')
    if ans[i] == user_ans.casefold():
        count = count+1
print(count)

In [ ]:
qns = ['Who is PM of india?',
       'what is the capital of india?',
       'No.of states in india?',
       'Who is the captain of ICT?']

ans = ['Modi','Delhi',29,'Rohith sharma']

marks = 0
for i in range(len(qns)):
    print(qns[i])
    answer = input('Enter the answer:')
    if str(answer.casefold())==str(ans[i].casefold()):
        marks = marks+1
marks

$List-Methods$

In [ ]:
dir(list)

In [ ]:
list1=[1,2,3,4]
list1.clear()
list1

In [ ]:
list2 = [1,2,3,'A']
list3=list2.copy()
list2.clear()
list2,list3

- POP

In [ ]:
list3.pop(-2) # pop will delete the last element by default
list3

In [ ]:
l1.pop() # Remove the last value index= -1
l1.pop(0) # Remove first element
l1.pop(index=0) # Index=0 is error (arguments are not allowed)
l1.pop(100) # index error
l1.pop('A') # Type error
l1.pop([1,2]) # 'list' object cannot be interpreted as an integer

In [ ]:
l1 = [1,2,3,["a",'b']]
l1.pop()

# Drawbacks: we are manually counting
# This drawback can overcome by using index

- Remove

In [ ]:
l1 = [1,2,3,3]
l1.remove(3)
l1          # Takes exactly one argument
            # No need to provide the index
            # Takes the direct value

In [ ]:
l2 = ['A','B','C']
l2.remove('A')
l2

# Drawback: Second occurence will not consider

- Index

In [ ]:
l1 = ['A','B','C','C',1,2,3,100]
i = l1.index('C',3)
l1.pop(i),l1
print(i)

In [ ]:
l1 = ['A','B','C','A',1,2,3,'A',100]
i1 = l1.index('A')
i2 = l1.index('A',i1+1)
i3 = l1.index('A',i2+1)
l1.pop(i3)
l1

In [ ]:
l1 = ['A','B','C','A',1,2,3,'A',100]
i = l1.index('A',i2,i3)
i

- Del

In [ ]:
l1 = [1,2,3]
del(l1[1])
l1

- Append
- Extend
- Insert

In [ ]:
l1 = ['A','B','C',1,2,3,100]
l1.append('A')
l1

In [ ]:
l1.extend('')
l1

In [22]:
l1.insert(2,100)
l1

['can', 'can', 100, 'you', 'canner', 'can', 'not', 'can', 'you', 'buy', 'can']

In [ ]:
l1 = ['Hyd','Mumbai','Chennai']
l2 = []
for i in l1:
    if len(i)>3:
        l2.append(i)
l2

In [ ]:
l1 = ['hyd','mumbai','chennai']
l2 = []
for i in l1:
    l2.append(i.capitalize())
l2

In [ ]:
l1 = ['hyd','mu#mbai','che#nnai']
l2 = []
for i in l1:
    if '#' in i:
        l2.append((i))
l2

In [ ]:
s = 'hello hai how are you'

s1 = []
for i in range(len(s)):
    if s[i]=='a':
        s1.append(i)
sum(s1)

In [ ]:
import random
l1 = []
l2 = []
for i in range(11):
    num=random.randint(1,100)
    print(num)
    if num%2==0:
        l1.append(num)
    else:
        l2.append(num)
l1,l2

In [ ]:
l1 = [1,2,3]
l2 = ['a','b','c']
l3 = []
l1.extend(l2)
print(l1)
print(l2)

In [ ]:
l1 = [1,2,3]
l2 = ['a','b','c']
l2.extend(l1)
print(l1)
print(l2)

In [ ]:
l1 = [1,2,3]
l2 = ['a','b','c']
print(l1+l2)
print(l1)
print(l2)

In [ ]:
l1.append(l2)
l1

- Reversed
- Sorted
- Reverse vs reversed
- sort vs sorted

In [ ]:
l1 = [1,2,3,'A','B','C']
l1.reverse()
l1

In [ ]:
l1 = [1,2,3,'A','B','C']
reverse_l1 = reversed(l1)

In [ ]:
for i in reverse_l1:
    print(i,end=' ')

In [ ]:
l1 = ['B','C','A','D']
l2 = [1,4,6,2,0]
l1.sort(),l2.sort()
l1,l2

In [ ]:
l1 = ['B','C','A','D']
l2 = [1,4,6,2,0]
l1.sort(reverse=True),l2.sort(reverse=True)
l1,l2

In [ ]:
l1 = [2,3,5,1,0.2]
sorted(l1)

In [ ]:
l2 = ['Z','W','H','K']
sorted(l2)

In [ ]:
l2 = ['Z','W','H','K']
sorted(l2,key=len)

In [ ]:
list1 = [1,4,5,3,2,7,6,4,8,6,3,8,9]
sorted_list = sorted(list1)
sorted_list

In [10]:
list2 = ['B','C','D','E','A']
s1 = sorted(list2,reverse=True)
s1

['E', 'D', 'C', 'B', 'A']

- Count

In [1]:
l1 = ['A','A','A']
l1.count('A')

3

#### Word Frequency method

In [12]:
s1 = 'can can you canner can not can you buy can'
l1 = s1.split()
for i in l1:
    print(l1.count(i))

5
5
2
1
5
1
5
2
1
5

In [21]:
s1 = 'can can you canner can not can you buy can'
l1 = s1.split()
l2 = []
for i in l1:
    if i not in l2:
        print(i,':',l1.count(i))
        l2.append(i)

can : 5
you : 2
canner : 1
not : 1
buy : 1

- Append

In [24]:
l1 = ['hyd','Mumbai','Chennai','Bengaluru']
l2 = []
for i in l1:
    if len(i)>5:
        l2.append(i)
l2

['Mumbai', 'Chennai', 'Bengaluru']

In [32]:
l3 = []
for i in range(1,11):
    l3.append(i*i)
l3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List Comprehension

$Pattern-1$

In [ ]:
l3 = []
for i in range(1,11):
    l3.append(i*i)
l3

In [ ]:
#variable = [<output> <for loop>]

In [35]:
num = [i*i for i in range(1,11)]
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
l2 = [i.capitalize() for i in ['hyd','mumbai']]
l2

['Hyd', 'Mumbai']

$Pattern-2$
- For and if condition

In [ ]:
#variable = [<output> <for loop> <if condition>]

In [38]:
l1 = ['hyd','Mumbai','Chennai','Bengaluru']
l2 = []
for i in l1:
    if len(i)>5:
        l2.append(i)
l2

['Mumbai', 'Chennai', 'Bengaluru']

In [39]:
l2 = [i for i in l1 if len(i)>5]
l2

['Mumbai', 'Chennai', 'Bengaluru']

In [42]:
s1 = 'can can you canner can not can you buy can'
l1 = s1.split()
l2 = []
for i in l1:
    if i not in l2:
        print(i,':',l1.count(i))
        l2.append(i)

can : 5
you : 2
canner : 1
not : 1
buy : 1

In [56]:
l2 = [l1.count(i) for i in l1 if i not in l2]
l2

[5, 5, 2, 1, 5, 1, 5, 2, 1, 5]

$Pattern-3$

In [46]:
list1 = []
for i in range(1,10):
    if i%2==0:
        list1.append(f'Even {i}')
    else:
        list1.append(f'Odd {i}')
list1

['Odd 1',
 'Even 2',
 'Odd 3',
 'Even 4',
 'Odd 5',
 'Even 6',
 'Odd 7',
 'Even 8',
 'Odd 9']

In [ ]:
#variable = [<if_output> <if_condition> <else> <else_output> <for_loop>]

In [48]:
list1 = [f'Even {i}' if i%2==0 else f'Odd {i}' for i in range(1,10)]
list1

['Odd 1',
 'Even 2',
 'Odd 3',
 'Even 4',
 'Odd 5',
 'Even 6',
 'Odd 7',
 'Even 8',
 'Odd 9']