##### How to read the tuple

- help(tuple)
    - If no argument is given, the constructor returns an empty tuple.
    - If iterable is specified the tuple is initialized from iterable's items.
    - If the argument is a tuple, the return value is the same object.

In [5]:
x = ()
print(type(x))
x

<class 'tuple'>

()

In [7]:
y = (1,2,3)
for i in y:
    print(i)        # Tuple is be iterable

1
2
3

##### Different ways to read tuple

In [8]:
tup1 = (1,2,3,'a','b','c')
print(tup1)

(1, 2, 3, 'a', 'b', 'c')

In [10]:
tup2 = ('a','b',True,1+2j)
print(tup2)

('a', 'b', True, (1+2j))

In [13]:
tup3 = (1,2,2,2,'a','a',True,True,10+1j,0j)
print(tup3)                                              # Tuple supports duplicate values

(1, 2, 2, 2, 'a', 'a', True, True, (10+1j), 0j)

In [14]:
tup4 = (1,2,3,('A','B'))
print(tup4)                                              # Tuple in tuple is also readable

(1, 2, 3, ('A', 'B'))

In [22]:
tup5 = (_)
print(tup5)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [23]:
tup6 = ('a','b','c','d',(1,2,3,4))
tup6

('a', 'b', 'c', 'd', (1, 2, 3, 4))

In [24]:
tup7 = (_)
tup7                                                     # When underscore is used as tuple , it returns previous output

('a', 'b', 'c', 'd', (1, 2, 3, 4))

#####  len max min sum reversed sorted

- len

In [25]:
tupl1 = (1,2,3,4,'a','b','C')
len(tupl1)

7

In [26]:
tupl2 = (1,2,3,4,('a','b','C'))
len(tupl2)

5

In [27]:
tupl3 = ((1,2,3,4,'a','b','C'))
len(tupl3)                                      # Length of Tuple in tuple gives total elements in tuple

7

In [86]:
tupl4 = ('Hello','How','You','?')
n = len(tupl4)
for i in range(n):
    print(i)

0
1
2
3

- max and min

In [30]:
t1 = (1,2,3,4)
max(t1),min(t1)

(4, 1)

In [31]:
t2 = ('a','b','C','Z')
max(t2),min(t2)                                    # a = 97 , b = 98 and C = 67 , Z = 90

('b', 'C')

In [32]:
t3 = ('a','b','c','z')
max(t3),min(t3)

('z', 'a')

In [39]:
t4 = ('A','B','C','Z','1+0j','1','!')
max(t4),min(t4)

('Z', '!')

- Sum

In [46]:
tp1 = (1,2,3)
tp2 = (4,5,6)
(tp1+tp2)

(1, 2, 3, 4, 5, 6)

In [2]:
tp1 = (1,2,3)
tp2 = (4,5,6)
sum(tp1),sum(tp2)

(6, 15)

In [55]:
print(y)
max(y),min(y),sum(y)

(1, 2, 3)

(3, 1, 6)

In [58]:
print(tupl1)
max(tupl1),min(tupl1),sum(tupl1)               # '>' not supported between instances of 'str' and 'int'

(1, 2, 3, 4, 'a', 'b', 'C')

In [61]:
print(tupl2)
max(tupl2),min(tupl2),sum(tupl2)               # '>' not supported between instances of 'tuple' and 'int'

(1, 2, 3, 4, ('a', 'b', 'C'))

In [67]:
tup3 = (1, 2, 2, 2, True, True, (10+1j), 0j)
print(tup3)
max(tup3),min(tup3),sum(tup3)                 # '>' not supported between instances of 'complex' and 'int'

(1, 2, 2, 2, True, True, (10+1j), 0j)

In [68]:
tup4 = (1,2,3,True,False)
print(tup4)
max(tup4),min(tup4),sum(tup4)                # True = 1 and False = 0

(1, 2, 3, True, False)

(3, False, 7)

- Reversed

In [71]:
tp1 = (1,'a',2,'b',3,'c')
for i in reversed(tp1):
    print(i)

c
3
b
2
a
1

- Sorted

In [78]:
tp2 = (1,2,3,True)
sorted(tp2)                  # '>' is not supported btw ----------1) str and int
                             #                                    2) tuple ans int
                             #                                    3) complex and int

[3, 2, 1, True]

##### Concatenation

In [80]:
tu1 = (1,2,3)
tu2 = (4,5,6)
tu1+tu2

(1, 2, 3, 4, 5, 6)

In [81]:
tu3 = ('a','b','c','d')
tu4 = ('e','f','g')
tu3+tu4

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [82]:
tu5 = (1,2,'a','b',True,10+0j)
tu6 = ('hello','hai')
tu5+tu6

(1, 2, 'a', 'b', True, (10+0j), 'hello', 'hai')

##### in and index range using for loop

In [7]:
tuple1 = (1,2,3,4,'Apple','Banana')
tuple1[4][3],tuple1[5][3],tuple1[1]

('l', 'a', 2)

In [10]:
tuple2 = ('a','b','c','d')
print(tuple2.index('a'))
print(tuple2.index('c'))

0
2

In [50]:
tuple3 = ('Apple','Banana','Sapota','Pineapple')
n = len(tuple3)
for i in range(n):
    print(f'For word {tuple3[i]} the positive index is {i} and negative index is {i-n}')

For word Apple the positive index is 0 and negative index is -4
For word Banana the positive index is 1 and negative index is -3
For word Sapota the positive index is 2 and negative index is -2
For word Pineapple the positive index is 3 and negative index is -1

In [12]:
for i in range(len(tuple3)):
    print(i)

0
1
2
3

##### mutable imputable

In [20]:
tu1 = (1,2,3,'b','d','z')
#tu1[3]=200
tu1                                                # Tuple is immutable

(1, 2, 3, 'b', 'd', 'z')

In [16]:
l1 = [1,2,3]
l1[1]=100
l1

[1, 100, 3]

##### slice

In [ ]:
#tuple[start:stop:step]

In [23]:
tp1 = (1,2,3,4,'a','b','c','apple','banana')
tp1[1:-2:-1]

()

In [24]:
tp1[1:2:-1]

()

In [30]:
tp2 = tp1[-2:1:-1]
tp2

('apple', 'c', 'b', 'a', 4, 3)

In [31]:
tp2[0][0]

'a'

##### methods

In [36]:
tupl1 = (1,2,3,4,'a','b','c','a','apple','banana','a')
tupl1.count('a')

3

In [37]:
tupl1.count('p')

0

In [52]:
i1 = tupl1.index('a')
i1

4

In [60]:
i2 = tupl1.index('a',i1+1)
i2

7

In [62]:
i3 = tupl1.index('a',i2+1)
i3

10